@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
*{font-family: "Marcellus SC", serif;}
body{margin:0;}
/*Some Css taken from Bc.css*/


.bc-hover-once-spin:hover{
  animation: rotation 0.5s linear!important;
}
@keyframes rotation {from {transform: rotate(0deg);}to {transform: rotate(360deg);}} 
.title-logo{
  width: 300px;
  position: absolute;
  transform: translate(-50%);
  top:0%;
  z-index: -1;
  opacity: 0.3;
}
.title-text{
  font-size: 50px;
}
.blue-box{
  background-color: lightblue;
  padding: 3px;
}
.gray-box{
  background-color: rgb(206, 244, 250);
  padding: 3px;
}
.gray-box a{
  color:rgb(13, 13, 219);
}
a{
  color:slategray
}
.links{
  position: absolute;
  top:1%;  
  right:0;
}
.links a{
  margin-right: 10px;
}
